<div class="jumbotron">
  
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <ul>
    <li *ngFor="let user of users">
      <a [routerLink]="['/checkin', user.id]">{{ user.firstName }}</a>
    </li>
  </ul>
  <button class="btn btn-primary btn-lg" (click)="goTo('/checkin', 1)">Learn more</button>
</div>