
<div class="card mb-3">
    <div class="card-header">
        Iniciar sesión
    </div>
    <form (ngSubmit)="onSubmitLogin(f)" #f="ngForm">
        <div class="card-body">
            <span *ngIf="f.submitted && f.controls['username'].errors" class="text-danger">El nombre de usuario es obligatorio</span>
            <div class="form-group" >
                <input class="form-control" 
                        type="text" 
                        name="username"
                        [(ngModel)]="loginData.username"
                        required 
                        placeholder="Nombre de usuario">
            </div>
            <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger">La contraseña es requerida</span>
            <div class="form-group">
                <input class="form-control"
                        type="password" 
                        name="password"
                        [(ngModel)]="loginData.password"
                        required
                        minlength="6" 
                        placeholder="Contraseña">
            </div>
        
        </div>
        <div class="card-footer bg-transparent">
            <button class="btn btn-primary" type="submit">
                    Ingresar
            </button>
        </div>
    </form>
</div>


